a.notunderline {
  text-decoration: none;
  color: #000066;
}

/* img#main {
    width: 1000px;
} */

/* For width smaller than 400px: */
.influencer {
  width: 90%;
  height: auto;
}

/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
  .influencer {
    width: 60%;
    height: auto;
  }
}

.responsive {
  width: 90%;
  height: auto;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
	/* padding-bottom: 20px; */
}

figcaption {
  font-size:0.8rem;
  text-align: center;
}


.back {
  font-size:1rem;
}

body {
    text-align: center;
    /* margin: 0px;
    padding: 0px; */
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 30px;

    /* font-family: 'Roboto Slab', serif; */
}

.center {
  text-align: center;
  text-align: left;
  /* text-align: justify; */
  /* display: inline-block; */

  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
}


h1 {
  text-align: center;
  color: #000066;

}

h5 {
    font-family: 'Roboto Slab', serif;
    font-size:1.5rem;
    font-weight: light;
    margin: auto;
    text-decoration: none;
}



#ki {
  font-family: 'Pinyon Script', cursive;
  font-size: 5rem;
  /* font-weight: 550; */
  margin: auto;
}

#about {
  margin-right:4rem;
}
