a.notunderline {
  text-decoration: none;
}

body {
    text-align: center;
    /* font-family: 'Roboto Slab', serif; */
}

h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: light;
    margin: auto;
    text-decoration: none;
}

img#main {
    width: 700px;
}

#ki {
  font-family: 'Pinyon Script', cursive;
  font-size: 90px;
  font-weight: 550;
  margin: auto;
}

#about {
  margin-right: 70px;
}
